@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

.header {
  text-align: center;
}

ul.Nav{
  list-style-type:none;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #54575b;
  text-decoration: none;
}

a:hover {
    background-color: #1d1d1e;
}
