#header {
  background-color: blue;
  float: auto;
  width: 500px;
}

#index {
  background-color: cyan;
  width: 500px;

}

#background {
  background-color: grey;
  background: fill;
}

#footer {
  font-family: comic;
  color: purple;
  background-color: white;
  width: 423px;
}
