@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: auto;
  height: auto;
  margin: 0;
}

.loader {
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid blue;
  border-right: 30px solid green;
  border-bottom: 30px solid red;
  border-left: 30px solid yellow;
  width: 430px;
  height: 430px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.text {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 25px;
}

.camera {
  display: flex;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 10%;
  width: 100%;
}

.back-link {
  margin-top: 2em;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #54575b;
  text-decoration: none;
}

nav ul li a:hover {
    background-color: #1d1d1e;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
