@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    text-transform: uppercase;
    list-style: none;
    list-style-image: none;
}

.my-logo {
  color: #05cee9;
  font-size: 70px;
  font-family: "Press Start 2P";
  font-style: "italic";
  font-weight: 500;
  text-shadow: rgb(0, 255, 165) 1px 1px 0px, rgb(0, 255, 165) 2px 2px 0px, rgb(0, 255, 165) 3px 3px 0px, rgb(0, 255, 165) 4px 4px 0px, rgb(0, 255, 165) 5px 5px 0px, rgb(0, 255, 165) 6px 6px 0px, rgb(0, 255, 165) 7px 7px 0px, rgb(0, 255, 165) 8px 8px 0px, rgb(0, 255, 165) 9px 9px 0px, rgb(0, 255, 165) 10px 10px 0px;
  line-height: 1.1;
}

.header {
  text-align: center;
}

.nav{
  list-style: none;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #54575b;
  text-decoration: none;
}

nav ul li a:hover {
    background-color: #1d1d1e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
