@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: .8em 1.2em;
}

.logo{
  width: 130px;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%
}

.server {
  width: 70%;
  margin: 2em auto 2em 25%;
}


h1, .subhead {
  position: relative;
  z-index: 3;
}

.subhead {
  font-size: 1.1em;
}

.blue-container {
  width: 100%;
  background: #00C2FF;
  color: white;
  margin: 15% 0 0;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);

}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00C2FF;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;

}



.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}


.blue-container ul {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3em;

}

.blue-container ul li p {
  padding: 0 .5em
}
